 html, body {
	 width: 100%;
	 height: 100%;
}
 html {
	 display: table;
}

 article.flashcard {
	 margin: 0px auto;
	 border: 1px rgba(255,255,255,0.03) solid;
	 box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	 width: 100%;
	 max-width: 90%;
	 height: 100%;
	 max-height: 300px;
}
 article.flashcard input[type=checkbox] {
	 display: none;
}
 article.flashcard input[type=checkbox]:checked ~ label section.front {
	 height: 0%;
}
 article.flashcard input[type=checkbox]:checked ~ label section.back {
	 height: 100%;
}
 article.flashcard label {
	 display: block;
	 width: 100%;
	 height: 100%;
}
 article.flashcard section {
	 display: block;
	 font-size: 18pt;
	 text-align: center;
	 width: 100%;
	 transition: all 0.5s linear 0s;
	 overflow-y: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
 article.flashcard section.front {
	 color: #ba1f8c;
	 background: #DDD;
	 height: 100%;
	 font-size: 24pt;
}
 article.flashcard section.back {
	 color: #DDD;
	 background: #C85073;
	 height: 0%;
}



#nextButton {
	width: 110px;
	text-align: center;
	font-size: 18px;
	padding: 10px;
	cursor: pointer;
	color: #efefef;
	margin: auto;
	margin-top: 30px;
	background-color: #54a39b;
}

#nextButton:hover {
	opacity: .6;
}

#final-message {
    font-weight: bold;
    color: #e0594e;
	text-align: center;
	font-size: 30px;
	margin-top: 30px;
}

#flashcard-area {
    display: none;
}